*{
  /* border: solid 1px; */
  font-family: verdana, sans-serif;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.background{
  background-color: #f1f1f1;
  margin: 0px;
}

.title{
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  /* background-color: blue; */
}

.main_nav{
  background-color: #13294b;
  /* color: #e84a27; */
  text-align: center;
}

.main_nav a{
  display: inline-block;
  width: 200px;
  color: #e84a27;
}

.main_nav a:hover{
  color: #13294b;
  background-color: #e84a27;
}

.links{
  margin: 10px auto 10px auto;
  /* background-color: green; */
  display: inline-block;
}

/* .header{
  margin: 10px;
  background-color: pink;
  display: inline;
  float: right;
} */

.section a:hover{
  color: white;
  background-color: black;
}

.form{
  text-align: center;
  line-height: 1.8;
  padding: 20px;
  border: 1px solid;
}

textarea{
  width: 500px;
  overflow: scroll;
}
